@import 'reset';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600)';

@import 'variables';
@import 'utils';
@import 'frame';

@import 'layout';
@import 'title_bar';
@import 'side_menu';
@import 'listing';

#content {
	.scrollable();
	height: ~"calc(100% - @{header_height})";
	width: ~"calc(100% - @{side-menu_width})";
	position: relative;
	padding: 0px;
	top: @header_height;
	left: @side-menu_width;
}
