#submission {
	height: ~"calc(100% - @{header_height})";
	width: ~"calc(100% - @{side-menu_width})";
	position: fixed;
	top: @header_height;
	background: white;
	transition: left 0.3s linear;

	&.shown {
		left: @side-menu_width;
	}

	&.hidden {
		left: 100%;
	}

	.submission-container {

		height: 100%;

		.submission-content {
			height: ~"calc(100% - @{toolbar_height})";
		}
	}
}